@model ComicSystem.Models.ComicBook

<h2>Details</h2>
<div>
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="@Model.ImagePath" style="max-width:300px;height:auto" class="mb-3"/>
    }
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Price/Day</dt>
        <dd class="col-sm-10">@Model.PricePerDay.ToString("C")</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.ComicBookId" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-link">Back to list</a>
</div>
